@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face { 
    font-family: "Trispace"; 
    src: url("/public/assets/fonts/Trispace-Bold.ttf"); 
} 

@font-face { 
    font-family: "Noto Sans"; 
    src: url("/public/assets/fonts/NotoSans-Regular.ttf"); 
} 

.modal-anim-slideIn {
    animation: slideIn .3s linear;
}
.modal-anim-slideOut {
    animation: slideOut .3s linear;
}

@keyframes slideIn {
    0% {
      transform: translateY(400px);
      animation-timing-function: ease-out;
    }
    60% {
      transform: translateY(-30px);
      animation-timing-function: ease-in;
    }
    80% {
      transform: translateY(10px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0px);
      animation-timing-function: ease-in;
    }
  }

  @keyframes slideOut {
    0% {
      transform: translateY(-400px);
      animation-timing-function: ease-out;
    }
    60% {
      transform: translateY(30px);
      animation-timing-function: ease-in;
    }
    80% {
      transform: translateY(-10px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0px);
      animation-timing-function: ease-in;
    }
  }